.form-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.document-section {
  margin-bottom: 20px;
}

h1,
h6 {
  padding: auto;
  font-size: 21px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

button {
  margin-top: 10px;
}
button {
  background-color: rgb(192, 192, 106);
  color: #fff;
  padding: auto;
  margin: auto;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #8c8c8c;
}

button.delete:hover {
  background-color: #972727;
}
button.delete {
  width: 200px;
}

label {
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  box-sizing: border-box;
}

input:hover,
input:focus {
  border-bottom: 2px solid #000000; /* Change to your preferred hover/focus color */
}
